footer {
  background: #70716c;
  .logo {
    margin-bottom: 3rem;
    &::before,&::after{
      content:'';
      height:0.4em;
      background: rgba(0, 0, 0, 0.05);
      display: block;
      flex:1;
    }
    .img{
      max-width:6rem;
      min-width: 6rem;
      flex-basis: 6rem;
      padding:0 1.5rem;

      img {
        display: block;
        margin:0 auto;
        transform:translate(0,-30%);
      }
    }
  }
  > .container {
    background: #fff;
    padding:3rem;
    position: relative;
    .rs {
      position: absolute;
      right: 3rem;
      top:3rem;
      li {
        display: inline-block;
        margin:0 1rem;
        a{
          padding:1.5rem;
          display: block;
          position: relative;
          border:1px solid #000;
          i{
            font-size: 1.6rem;
            color:#000;
          }
        }



      }

    }
    .infos {
      margin-bottom: 3rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      .tel {

        a{
          color:red;
          font-size: 1.8rem;
          letter-spacing: 0.2em;
        }
      }
      .mailto{
        font-size: 1.2rem;
      }
    }
  }
 }
