@import "structure.less";

@font-face{
	font-family: "Raleway";
	src: url('./fonts/Raleway-Regular.ttf');
}
@font-face{
	font-family: "Raleway light";
	src: url('./fonts/Raleway-Light.ttf');
}
html { font-size: 62.5%; color:#787878;/* font-size:10px;*/}
body { font:1.4rem/1.42 'Source Serif Pro', serif; overflow-x: hidden;transition: all 150ms;-webkit-transition: all 150ms;}
h1,h2,h3,h4,h5,h6{
 font-family: "Roboto",Arial,Helvetica,sans-serif;
}
.align_content_right {
	align-content: right;}

.text_right {text-align: right;}

.top0 { top:0;}
.left0 { left:0;}
.right0{right:0}
.photo {
	display: flex;
	justify-content: center;
	> img {
		object-fit: cover;
		object-position: 50% 50%;
	}
}
p{
	line-height: 2;
}
a{
	color:#000;
	transition: color 500ms;
	&:hover{
		color:#e13536;
	}
}




@import "header.less";
@import "zone/diapo.less";
@import "zone/photo100_texte.less";
@import "zone/texte_seul.less";
@import "zone/lien.less";
@import "zone/bande_rs.less";
@import "zone/bande_diapo.less";
@import "zone/bande_title.less";
@import "zone/separation.less";
@import "zone/bouton_adherer.less";
@import "zone/texte_photo_center.less";
@import "zone/title_fond_gris.less";
@import "footer.less";
@import "contact.less";

