@font-face {
  font-family: "Raleway";
  src: url('./fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: "Raleway light";
  src: url('./fonts/Raleway-Light.ttf');
}
html {
  font-size: 62.5%;
  color: #787878;
  /* font-size:10px;*/
}
body {
  font: 1.4rem/1.42 "Raleway", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  transition: all 150ms;
  -webkit-transition: all 150ms;
}
.align_content_right {
  align-content: right;
}
.text_right {
  text-align: right;
}
.top0 {
  top: 0;
}
.left0 {
  left: 0;
}
.right0 {
  right: 0;
}
.photo {
  display: flex;
  justify-content: center;
}
.photo > img {
  object-fit: cover;
  object-position: 50% 50%;
}
header {
  padding: 3.5rem;
}
header .logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem;
}
header .btn_menu {
  background-color: #e73d3d;
  padding: 1rem;
  right: 5rem;
  top: 0;
  z-index: 3;
}
header .btn_menu .title {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
}
header .btn_menu .barres {
  height: 4rem;
  width: 60%;
  display: block;
  margin: 0 auto;
  position: relative;
}
header .btn_menu .barres > i {
  width: 0.3rem;
  background: #fff;
  height: 50%;
  position: absolute;
  bottom: 0;
}
header .btn_menu .barres > i.center {
  left: 50%;
  transform: translate(-50%);
  height: 80%;
}
header .btn_menu .barres > i.right {
  right: 0;
}
header nav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #70716c;
  z-index: 3;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 2.2em;
}
header nav #menu {
  padding: 15rem 35rem 15rem 10rem;
}
header nav .box_photo {
  position: relative;
  min-width: 60%;
}
header nav .box_photo::before {
  content: '';
  display: block;
  position: relative;
  padding-top: 50%;
}
header nav .box_photo .photo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
header nav a {
  color: #fff;
}
header nav .rs {
  position: absolute;
  right: 7rem;
  bottom: 15rem;
}
header nav .rs li {
  margin: 1.5rem 0;
}
header nav .rs li a {
  position: relative;
  padding: 1.5rem;
  border: 1px solid #fff;
  display: block;
}
.diapo_fin .photo {
  padding-top: 40%;
}
.diapo_fin .left {
  padding: 5rem 0;
  z-index: 2;
}
.diapo_fin .left .box {
  background: #fff;
  transform: translate(15rem);
}
.diapo_fin .left img {
  right: 5rem;
}
.texte_seul {
  color: #fff;
  background: #70716c;
}
.texte_seul .left {
  max-width: 40rem;
}
.texte_seul .left img {
  display: block;
  width: 100%;
}
.texte_seul .right {
  padding: 5rem;
  position: relative;
}
.texte_seul .right > .box {
  padding-left: 3em;
  position: relative;
}
.texte_seul .right > .box ::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  height: 140%;
  width: 0.7em;
  background: red;
  transform: translate(0, -50%);
}
.texte_seul .right > .box h2 {
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.texte_seul .right > .box p {
  max-width: 70%;
  display: block;
  color: #adadad;
}
.zone.lien {
  background: #70716c;
}
.zone.lien h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 1.8rem;
}
.zone.lien > div {
  background: #fff;
  padding: 3rem 0;
}
.zone.lien .left {
  padding: 3rem 0;
  z-index: 2;
}
.zone.lien .left > .box {
  background: #fff;
  transform: translate(15rem);
}
.zone.lien .left > .box > .content {
  justify-content: end;
}
.zone.lien .left > .box > .content > .final_content {
  min-width: 35rem;
  padding-right: 7rem;
  position: relative;
}
.zone.lien .left > .box > .content > .final_content > a {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translate(0, -50%);
}
.zone.lien .left > .box > .content > .final_content > a > img {
  width: 5rem;
}
.zone.lien .right::before {
  content: '';
  padding-top: 35%;
  display: block;
  width: 100%;
  position: relative;
}
.zone.lien .right .photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
section.rs {
  padding: 5rem ;
  background: #70716c;
}
section.rs .w80 > ul > li:nth-child(3) {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  border-top: none;
}
section.rs .w80 > ul > li > ul {
  text-align: right;
}
section.rs .w80 > ul > li > ul > li {
  margin: 0.7rem 0;
}
section.rs .w80 > ul > li > ul > li a {
  color: #b4b4b4;
}
section.rs .w80 > ul > li > ul > li a > img {
  height: 2rem;
  margin-left: 2rem;
}
section.rs .w80 > ul > li a {
  color: #fff;
  text-align: center;
}
section.rs .w80 > ul > li a > .icon {
  margin: 1rem auto;
  height: 5rem;
  width: auto;
}
section.rs .w80 > ul > li a span {
  display: block;
}
section.rs .w80 > ul > li a span.title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
section.rs .w80 > ul > li a span.subtitle {
  font-size: 1.2rem;
  color: #b4b4b4;
}
footer {
  background: #70716c;
}
footer .logo {
  margin-bottom: 3rem;
}
footer .logo::before,
footer .logo::after {
  content: '';
  height: 0.4em;
  background: rgba(0, 0, 0, 0.05);
  display: block;
  flex: 1;
}
footer .logo .img {
  max-width: 6rem;
  min-width: 6rem;
  flex-basis: 6rem;
  padding: 0 1.5rem;
}
footer .logo .img img {
  display: block;
  margin: 0 auto;
  transform: translate(0, -30%);
}
footer > .container {
  background: #fff;
  padding: 3rem;
  position: relative;
}
footer > .container .rs {
  position: absolute;
  right: 3rem;
  top: 3rem;
}
footer > .container .rs li {
  display: inline-block;
  margin: 0 1rem;
}
footer > .container .rs li a {
  padding: 1.5rem;
  display: block;
  position: relative;
  border: 1px solid #000;
}
footer > .container .rs li a i {
  font-size: 1.6rem;
  color: #000;
}
footer > .container .infos {
  margin-bottom: 3rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
footer > .container .infos .tel a {
  color: red;
  font-size: 1.8rem;
  letter-spacing: 0.2em;
}
footer > .container .infos .mailto {
  font-size: 1.2rem;
}
