<div class="texte_seul flex">
    <div class="left mw25">
        <img src="{{ asset('img/carre.png') }}" alt="Fond" class="block w100"/>
    </div>
    <div class="right flex flex_column justify_center apparition apparition_right">
        <div class="box flex_0">
            <h2>{{ zone.detail(locale).title }}</h2>
            <p>{{ zone.detail(locale).description | raw }}</p>
        </div>
    </div>
</div>
